* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.web-page {
  display: flex;
  flex-direction: column;
}

.top-bar {
  background-color: #213c51;
  color: #eeeeee;
  padding: 40px 50px;
  width: 100%;
  text-align: center;
}

.intro {
  background-color: #ddaed3;
  color: #eeeeee;
  padding: 40px 50px;
  width: 100%;
  text-align: left;
}

.intro h2,
.intro p {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.projects {
  background-color: #6594b1;
  width: 100%;
  padding: 40px 50px;
}

.projects hr {
  border: none;
  border-top: 5px dotted #213c51;
  width: 80%;
  margin: 20px auto; /* centers the hr */
}

.project {
  overflow: auto;
  margin-bottom: 20px;
  clear: both;
  padding: 10px 0;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.project img {
  float: left;
  margin-right: 15px;
  width: 25%;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 3rem;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 2rem;
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #213c51;
  font-size: 1.8rem;
}

p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.project p {
  color: #213c51;
}

.footer {
  background-color: #213c51;
  width: 100%;
  color: #eeeeee;
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  padding: 5px 0;
}

@media (max-width: 1200px) {
  .project {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 30px;
    text-align: center;
    margin: 0 auto;
  }

  .project img {
    margin-bottom: 10px;
    width: 50%;
    object-fit: cover;
    align-self: center;
  }
}
