body {
  background-color: black;
  color: white;
  text-align: center;
}

img {
  border: 5px solid white;
  align-items: center;
  width: 100%;
}

h1 {
  text-transform: uppercase;
  font-size: 2.8rem;
}
p {
  font-size: 1.2rem;
}
div {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* 5. Create a div to contain the h1, p and img elements. Adjust the margins so that the image and text are centered on the page. 
  Hint: You horizontally center a div by giving it a width of 50% and a margin-left of 25%.
  Hint: Set the image to have a width of 100% so it fills the div.  */
