

.color-title{
    font-weight: normal;
}
#red{
    color: red;
}
#blue{
    color: rgb(0, 153, 255);
}
#green{
    color: green;
}
#yellow{
    color: yellow;
}
#orange{
    color: orange;
}

img{
    width: 200px;
    height: 200px;
}


